<p>list works!</p>

<div *ngIf="deletedHero; else nothingWasDeleted" >
  <h3>Heroe borrado
    <small class="text-danger"> {{deletedHero}}</small>

    </h3>
</div>

<ng-template #nothingWasDeleted>

  <h3 *ngIf="!deletedHero">No ha borrado nada</h3>
</ng-template>



<button

*ngIf="heroeNames.length>0"
class="btn btn-outline-danger"
(click)="removeLastHero()">
Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroeNames"
  class="list-group-item">
  {{name}}
  </li>
  </ul>

